.register-form {
  padding-top: 30px;
  padding-bottom: 100px;
  .form-content {

    @media(max-width: 992px) {
      max-width: 800px;
    }

    .rows {
      .flex-block();
      .align-items(flex-start);
      .justify-content(flex-start);
      .flex-wrap(wrap);
      .first {
        width: 50%;
        padding-right: 20px;
        @media(max-width: 992px) {
          width: 100%;
          padding-right:0;
        }
      }
      .second {
        width: 50%;
        padding-left: 20px;
        @media(max-width: 992px) {
          width: 100%;
          padding-left: 0;
        }
      }
    }
  }
  .action-submit {
    text-align: right;
    width: 100%;
    button {
      background-color: @light-red;
      color: @white;
      height: 30px;
      border: none;
      outline: none;
      .border-radius(2px);
      text-transform: uppercase;
      font-weight: 600;
      padding: 5px 20px;
      cursor: pointer;
      .transition(all 0.3s ease-in-out);
      &:hover {
        background-color: red;
      }
      &.disable {
        background-color: rgba(208, 28, 55, 0.14);
        cursor: initial;
      }
    }
  }
  .form-block {
    position: relative;
    .form-block-top {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 0;
      margin-left: 0;

      @media(max-width: 1100px) {
        position: static;
      }
      @media(max-width: 992px) {
        position: absolute;
      }

      @media(max-width: 550px) {
        position: static;
      }

      label {
        border: none;
      }
      .cards {
        .flex-block();
        .align-items(center);
        .justify-content(flex-start);
        img {
          width: 30px;
          margin-left: 10px;
        }
      }
    }
  }

  .card-block {
    h4 {
      border: none;
      margin-bottom: 0;
    }
  }

  .card-block-content {
    background-color: #F3F3F3;
    //background-color: @light-grey;
    .description {
      font-size: 13px;
      font-style: italic;
      padding: 10px;
      color: @dark-grey;
    }

    .control {
      background-color: #e2e2e2;
      color: @grey;
      font-size: 14px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 600;
      text-transform: uppercase;
      .flex-block();
      .align-items(center);
      .justify-content(center);

      position: relative;
      a {
        cursor: pointer;
      }
      .close {
        position: absolute;
        right: 20px;
        .flex-block();
        .align-items(center);
        .justify-content(flex-end);
        color: @grey;
        font-weight: 400;
        text-transform: none;
      }
    }

    .add-card-space {
      padding: 10px;
      font-size: 14px;

      .line {
        border: 1px solid;
        border-color: #D4D4D4;
        margin-bottom: 15px;
      }

      h5 {
        font-size: 16px;
        //padding-top: 10px;
      }

      .checkbox-heder {
        .flex-block();
        .align-items(center);
        .justify-content(flex-start);

        h5 {
          width: 30%;
        }
        .checkbox {
          width: 70%;

          label {
            border: none;
          }
        }
      }

      .card-info {
        .flex-block();
        .align-items(center);
        .justify-content(flex-start);

        .card-number {
          width: 60%;
          .input-field {
            padding-left: 10px;
          }
        }
        .card-cvv {
          width: 40%;
          padding-left: 20px;
        }

        .card-month {
          width: 50%;
          //padding-left: 20px;
        }

        .card-year {
          width: 50%;
          padding-left: 20px;
        }
      }
    }

    .action {
      button {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        height: 30px;
        background-color: @light-grey;
        outline: none;
        border: 1px solid @dark-grey;
        cursor: pointer;
        .border-radius(2px);

        &:hover {
          background-color: @white;
        }
      }
    }

    .active-cards {
      padding-top: 20px;
      .card {
        .flex-block();
        .align-items(center);
        .justify-content(flex-start);


        .card-number {
          width: 30%;
        }

        .card-user {
          width: 70%;
        }

        &:hover {
          color: @black;
          cursor: pointer;
        }
      }
    }
  }

  .rules {
    a {
      color: rgba(0,40,242,0.59);
      cursor: pointer;

      &:hover {
        color: rgba(0,41,255,0.81);
      }
    }
  }
}



.register-complete {
  .flex-block();
  .align-items(center);
  .justify-content(center);
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  h4 {
    text-align: center;
    width: 100%;
  }
}
