.title-block {
  background-color: #EAEAEA;
  border-bottom: 1px solid rgba(99,99,99,1);

  h1 {
    .flex-block();
    .align-items(center);
    .justify-content(flex-start);
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
  }

}