<div class="title-block">
  <div class="container">
    <h1>
      Create an account {{url}}
    </h1>
  </div>
</div>

<div class="register-form" ng-if="regStatus === 'start'">
  <div class="container">
    <form name="form" class="form-content" novalidate>
      <div class="rows">
      <div class="first">
        <div class="form-block">
          <h4>User Information</h4>
          <div
            ng-class="{'error': (form.userFirstName.$error.required && (form.userFirstName.$touched || form.$submitted))}"
            class="form-group form-horizontal required"
          >
            <label for="first_name">First Name</label>
            <div class="input-field">
              <input
                ng-model="user.first_name"
                type="text"
                id="first_name"
                name="userFirstName"
                class="form-control"
                required
              />
              <div
                class="error-text"
                ng-show="form.$submitted || form.userFirstName.$touched"
              >
                <div ng-show="form.userFirstName.$error.required">
                  Enter your first name.
                </div>
              </div>
            </div>
          </div>

          <div
            ng-class="{'error': form.userLastName.$error.required && (form.userLastName.$touched || form.$submitted)}"
            class="form-group form-horizontal required"
          >
            <label for="last_name">Last Name</label>
            <div class="input-field">
              <input
                ng-model="user.last_name"
                type="text"
                id="last_name"
                name="userLastName"
                required
                class="form-control"
              />
              <div
                class="error-text"
                ng-show="form.$submitted || form.userLastName.$touched"
              >
                <div ng-show="form.userLastName.$error.required">
                  Enter your last name
                </div>
              </div>
            </div>
          </div>
          <div class="form-group form-horizontal">
            <label for="company_name">Company Name</label>
            <div class="input-field">
              <input
                ng-model="user.company_name"
                type="text"
                id="company_name"
                name="companyName"
                class="form-control"
                placeholder="Optional"
              />
            </div>
          </div>
          <div
            ng-class="{'error': (form.userEmail.$error.required || form.userEmail.$error.email) && (form.userEmail.$touched || form.$submitted)}"
            class="form-group form-horizontal required"
          >
            <label for="email">E-mail</label>
            <div class="input-field">
              <input
                ng-model="user.email"
                type="email"
                id="email"
                name="userEmail"
                class="form-control"
                required
              />
              <div
                class="error-text"
                ng-show="form.$submitted || form.userEmail.$touched"
              >
                <div ng-show="form.userEmail.$error.required">
                  Enter your e-mail
                </div>
                <div ng-show="form.userEmail.$error.email">
                  Enter correct e-mail
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-block">
          <h4>Shipping Address</h4>
          <div
            ng-class="{'error': form.shippingAdress.$error.required && (form.shippingAdress.$touched || form.$submitted)}"
            class="form-group form-horizontal required"
          >
            <label for="shipping_address">Address</label>
            <div class="input-field">
              <input
                ng-model="shipping.address"
                type="text"
                id="shipping_address"
                name="shippingAdress"
                class="form-control"
                required
              />
              <div
                class="error-text"
                ng-show="form.$submitted || form.shippingAdress.$touched"
              >
                <div ng-show="form.shippingAdress.$error.required">
                  Enter your address
                </div>
              </div>
            </div>
          </div>

          <div
            ng-class="{'error': form.shippingAdress2.$error.required && (form.shippingAdress2.$touched || form.$submitted)}"
            class="form-group form-horizontal"
          >
            <label for="shipping_address2">Address 2</label>
            <div class="input-field">
              <input
                ng-model="shipping.address2"
                type="text"
                id="shipping_address2"
                name="shippingAdress2"
                class="form-control"
                placeholder="Optional"
              />
              <div
                class="error-text"
                ng-show="form.$submitted || form.shippingAdress2.$touched"
              >
                <div ng-show="form.shippingAdress2.$error.required">
                  Enter your address
                </div>
              </div>
            </div>
          </div>

          <div
            ng-class="{'error': form.shippingCity.$error.required && (form.shippingCity.$touched || form.$submitted)}"
            class="form-group form-horizontal required"
          >
            <label for="shipping_city">City</label>
            <div class="input-field">
              <input
                ng-model="shipping.city"
                type="text"
                id="shipping_city"
                name="shippingCity"
                class="form-control"
                required
              />
              <div
                class="error-text"
                ng-show="form.$submitted || form.shippingCity.$touched"
              >
                <div ng-show="form.shippingCity.$error.required">
                  Enter your city
                </div>
              </div>
            </div>
          </div>

          <div
            ng-class="{'error': form.shippingZipCode.$error.required && (form.shippingZipCode.$touched || form.$submitted)}"
            class="form-group form-horizontal required"
          >
            <label for="shipping_zipcode">Zip Code</label>
            <div class="input-field">
              <input
                ng-model="shipping.zipcode"
                type="text"
                id="shipping_zipcode"
                name="shippingZipCode"
                class="form-control"
                required
              />
              <div
                class="error-text"
                ng-show="form.$submitted || form.shippingZipCode.$touched"
              >
                <div ng-show="form.shippingZipCode.$error.required">
                  Enter zipcode
                </div>
              </div>
            </div>
          </div>

          <div
            ng-class="{'error': form.shippingCountry.$error.required && (form.shippingCountry.$touched || form.$submitted)}"
            class="form-group form-horizontal required"
          >
            <label for="shipping_country">Country</label>
            <div class="input-field">
              <select
                id="shipping_country"
                ng-model="shipping.country"
                name="shippingCountry"
                required
                ng-change="getStates(shipping)"
              >
                <option
                  ng-repeat="option in countries"
                  ng-value="option.country_id"
                  >{{option.country_name}}</option
                >
              </select>

              <div
                class="error-text"
                ng-show="form.$submitted || form.shippingCountry.$touched"
              >
                <div ng-show="form.shippingCountry.$error.required">
                  Select country
                </div>
              </div>
            </div>
          </div>

          <div
            ng-class="{'error': form.shippingState.$error.required && (form.shippingState.$touched || form.$submitted)}"
            class="form-group form-horizontal required"
          >
            <label for="shipping_state">State</label>
            <div class="input-field">
              <select
                id="shipping_state"
                ng-model="shipping.state"
                name="shippingState"
                required
              >
                <option
                  ng-repeat="option in shipping.states"
                  ng-value="option.state_id"
                  >{{option.state_name}}</option
                >
              </select>
              <div
                class="error-text"
                ng-show="form.$submitted || form.shippingState.$touched"
              >
                <div ng-show="form.shippingState.$error.required">
                  Select state
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-block">
          <h4>
            Account billing address
          </h4>
          <div class="checkbox form-block-top">
            <input
              type="checkbox"
              name="billingSameAsShipping"
              ng-model="billing.asShipping"
              id="billingSameAsShipping"
            />
            <label for="billingSameAsShipping"></label>
            <label for="billingSameAsShipping" class="checkbox-text"
              >Same as Shipping Address</label
            >
          </div>

          <div ng-if="!billing.asShipping">
            <div
              ng-class="{'error': form.billingAdress.$error.required && (form.billingAdress.$touched || form.$submitted)}"
              class="form-group form-horizontal required"
            >
              <label for="billing_address">Address</label>
              <div class="input-field">
                <input
                  ng-model="billing.address"
                  type="text"
                  id="billing_address"
                  name="billingAdress"
                  class="form-control"
                  ng-required="checkAsShipping()"
                />
                <div
                  class="error-text"
                  ng-show="form.$submitted || form.billingAdress.$touched"
                >
                  <div ng-show="form.billingAdress.$error.required">
                    Enter your address
                  </div>
                </div>
              </div>
            </div>

            <div
              ng-class="{'error': form.billingAdress2.$error.required && (form.billingAdress2.$touched || form.$submitted)}"
              class="form-group form-horizontal"
            >
              <label for="billing_address2">Address 2</label>
              <div class="input-field">
                <input
                  ng-model="billing.address2"
                  type="text"
                  id="billing_address2"
                  name="billingAdress2"
                  class="form-control"
                  placeholder="Optional"
                />
                <div
                  class="error-text"
                  ng-show="form.$submitted || form.billingAdress2.$touched"
                >
                  <div ng-show="form.billingAdress2.$error.required">
                    Enter your address
                  </div>
                </div>
              </div>
            </div>

            <div
              ng-class="{'error': form.billingCity.$error.required && (form.billingCity.$touched || form.$submitted)}"
              class="form-group form-horizontal required"
            >
              <label for="billing_city">City</label>
              <div class="input-field">
                <input
                  ng-model="billing.city"
                  type="text"
                  id="billing_city"
                  name="billingCity"
                  class="form-control"
                  ng-required="checkAsShipping()"
                />
                <div
                  class="error-text"
                  ng-show="form.$submitted || form.billingCity.$touched"
                >
                  <div ng-show="form.billingCity.$error.required">
                    Enter your city
                  </div>
                </div>
              </div>
            </div>

            <div
              ng-class="{'error': form.billingZipCode.$error.required && (form.billingZipCode.$touched || form.$submitted)}"
              class="form-group form-horizontal required"
            >
              <label for="billing_zipcode">Zip Code</label>
              <div class="input-field">
                <input
                  ng-model="billing.zipcode"
                  type="text"
                  id="billing_zipcode"
                  name="billingZipCode"
                  class="form-control"
                  ng-required="checkAsShipping()"
                />
                <div
                  class="error-text"
                  ng-show="form.$submitted || form.billingZipCode.$touched"
                >
                  <div ng-show="form.billingZipCode.$error.required">
                    Enter zipcode
                  </div>
                </div>
              </div>
            </div>

            <div
              ng-class="{'error': form.billingCountry.$error.required && (form.billingCountry.$touched || form.$submitted)}"
              class="form-group form-horizontal required"
            >
              <label for="billing_country">Country</label>
              <div class="input-field">
                <select
                  id="billing_country"
                  ng-model="billing.country"
                  name="billingCountry"
                  ng-required="checkAsShipping()"
                  ng-change="getStatesBilling(billing)"
                >
                  <option
                    ng-repeat="option in countries"
                    ng-value="option.country_id"
                    >{{option.country_name}}</option
                  >
                </select>

                <div
                  class="error-text"
                  ng-show="form.$submitted || form.billingCountry.$touched"
                >
                  <div ng-show="form.billingCountry.$error.required">
                    Select country
                  </div>
                </div>
              </div>
            </div>

            <div
              ng-class="{'error': form.billingState.$error.required && (form.billingState.$touched || form.$submitted)}"
              class="form-group form-horizontal required"
            >
              <label for="billing_state">State</label>
              <div class="input-field">
                <select
                  id="billing_state"
                  ng-model="billing.state"
                  name="billingState"
                  ng-required="checkAsShipping()"
                >
                  <option
                    ng-repeat="option in billing.states"
                    ng-value="option.state_id"
                    >{{option.state_name}}</option
                  >
                </select>
                <div
                  class="error-text"
                  ng-show="form.$submitted || form.billingState.$touched"
                >
                  <div ng-show="form.billingState.$error.required">
                    Select state
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="second">
        <div class="form-block card-block">
          <h4>Credit card</h4>
          <div class="form-block-top">
            <div class="cards">
              <img class="images" src="{{img.visa}}" alt="" />
              <img class="images" src="{{img.mastercard}}" alt="" />
            </div>
          </div>
          <div class="card-block-content">
            <div class="description">
              Your card will not be charged. Verification only. Unless you make
              a purchase and your preferred peyment method is your credit card.

              <div ng-repeat="card_option in cards" class="active-cards">
                <div ng-click="selectCard(card_option)" class="card">
                  <div class="card-number">
                    {{card_option.card_number}}
                  </div>
                  <div class="card-user">
                    {{card_option.first_last_name}}
                  </div>
                </div>

              </div>
            </div>
            <div class="control">
              <a ng-click="addNewCard()">+ Add a new card</a>
              <a
                ng-show="newCard || editCard"
                ng-click="removeNewCard()"
                class="close"
              >
                Cancel
              </a
              >
            </div>

            <div ng-if="newCard || editCard" class="add-card-space">
              <h5>Card Holder Name</h5>
              <div
                ng-class="{'error': form.cardFirstLastName.$error.required && (form.cardFirstLastName.$touched || form.$submitted)}"
                class="form-group form-horizontal w_30_70"
              >
                <label for="cardFirstLastName">First and Last Name</label>
                <div class="input-field">
                  <input
                    ng-model="card.first_last_name"
                    type="text"
                    id="cardFirstLastName"
                    name="cardFirstLastName"
                    class="form-control"
                    ng-change="changeCardFields('cardFirstLastName')"
                    required
                  />
                  <div
                    class="error-text"
                    ng-show="form.$submitted || form.cardFirstLastName.$touched || cardError.cardFirstLastName"
                  >
                    <div ng-show="form.cardFirstLastName.$error.required">
                      Enter name
                    </div>
                  </div>
                </div>
              </div>
              <div class="line"></div>

              <h5>Credit Card</h5>
              <div class="card-info">
                <div
                  ng-class="{'error': form.cardNumber.$error.required && (form.cardNumber.$touched || form.$submitted)}"
                  class="form-group form-horizontal w_30_70 card-number"
                >
                  <label for="cardNumber">Card Number</label>
                  <div class="input-field">
                    <input
                      ng-model="card.card_number"
                      ng-pattern="/^[0-9]+$/"
                      type="text"
                      id="cardNumber"
                      name="cardNumber"
                      class="form-control"
                      ng-change="changeCardFields('cardNumber')"
                      required
                    />
                    <div
                      class="error-text"
                      ng-show="form.$submitted || form.cardNumber.$touched || cardError.cardNumber"
                    >
                      <div ng-show="form.cardNumber.$error.pattern">
                        Error
                      </div>
                      <div ng-show="form.cardNumber.$error.required">
                        Error
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  ng-class="{'error': form.cardCVV.$error.required && (form.cardCVV.$touched || form.$submitted)}"
                  class="form-group form-horizontal w_30_70 card-cvv"
                >
                  <label for="cardCVV">CVV</label>
                  <div class="input-field">
                    <input
                      ng-model="card.cvv"
                      ng-pattern="/^[0-9]+$/"
                      type="text"
                      id="cardCVV"
                      name="cardCVV"
                      class="form-control"
                      ng-change="changeCardFields('cardCVV')"
                      required
                    />
                    <div
                      class="error-text"
                      ng-show="form.$submitted || form.cardCVV.$touched || cardError.cardCVV"
                    >
                      <div ng-show="form.cardCVV.$error.required">
                        Error
                      </div>
                      <div ng-show="form.cardCVV.$error.pattern">
                        Error
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-info">
                <div
                  ng-class="{'error': form.cardMonth.$error.required && (form.cardMonth.$touched || form.$submitted)}"
                  class="form-group form-horizontal card-month"
                >
                  <label for="cardMonth">Month</label>
                  <div class="input-field">
                    <select
                      ng-model="card.month"
                      name="cardMonth"
                      id="cardMonth"
                      required
                    >
                      <option ng-repeat="option in months" ng-value="option.number">{{option.name}}</option>
                    </select>
                    <div
                      class="error-text"
                      ng-show="form.$submitted || form.cardMonth.$touched"
                    ></div>
                  </div>
                </div>
                <div
                  ng-class="{'error': form.cardYear.$error.required && (form.cardYear.$touched || form.$submitted)}"
                  class="form-group form-horizontal  card-year"
                >
                  <label for="cardYear">Year</label>
                  <div class="input-field">
                    <select
                      ng-model="card.year"
                      name="cardYear"
                      id="cardYear"
                      required
                    >
                      <option ng-repeat="option in years" ng-value="option">{{option}}</option>
                    </select>
                    <div
                      class="error-text"
                      ng-show="form.$submitted || form.cardYear.$touched"
                    >
                      <div ng-show="form.cardYear.$error.required"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="line"></div>

              <div class="checkbox-heder">
                <h5>Billing address</h5>
                <div class="checkbox">
                  <input
                    type="checkbox"
                    name="cardbillingSameAsShipping"
                    ng-model="card.billing.asShipping"
                    id="cardbillingSameAsShipping"
                  />
                  <label for="cardbillingSameAsShipping"></label>
                  <label for="cardbillingSameAsShipping" class="checkbox-text"
                    >Same as Shipping Address</label
                  >
                </div>
              </div>

              <div ng-if="!card.billing.asShipping">
                <div
                  ng-class="{'error': form.cardbillingAdress.$error.required && (form.cardbillingAdress.$touched || form.$submitted)}"
                  class="form-group form-horizontal required w_30_70"
                >
                  <label for="cardbillingAdress">Address</label>
                  <div class="input-field">
                    <input
                      ng-model="card.billing.address"
                      type="text"
                      id="cardbillingAdress"
                      name="cardbillingAdress"
                      class="form-control"
                      ng-required="checkCardAsShipping()"
                    />
                    <div
                      class="error-text"
                      ng-show="form.$submitted || form.cardbillingAdress.$touched"
                    >
                      <div ng-show="form.billingAdress.$error.required">
                        Enter your address
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  ng-class="{'error': form.cardbillingAdress2.$error.required && (form.cardbillingAdress2.$touched || form.$submitted)}"
                  class="form-group form-horizontal w_30_70"
                >
                  <label for="cardbillingAdress2">Address 2</label>
                  <div class="input-field">
                    <input
                      ng-model="card.billing.address2"
                      type="text"
                      id="cardbillingAdress2"
                      name="cardbillingAdress2"
                      class="form-control"
                      placeholder="Optional"
                    />
                    <div
                      class="error-text"
                      ng-show="form.$submitted || form.cardbillingAdress2.$touched"
                    >
                      <div ng-show="form.cardbillingAdress2.$error.required">
                        Enter your address
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  ng-class="{'error': form.cardbillingCity.$error.required && (form.cardbillingCity.$touched || form.$submitted)}"
                  class="form-group form-horizontal required w_30_70"
                >
                  <label for="cardbillingCity">City</label>
                  <div class="input-field">
                    <input
                      ng-model="card.billing.city"
                      type="text"
                      id="cardbillingCity"
                      name="cardbillingCity"
                      class="form-control"
                      ng-required="checkCardAsShipping()"
                    />
                    <div
                      class="error-text"
                      ng-show="form.$submitted || form.cardbillingCity.$touched"
                    >
                      <div ng-show="form.cardbillingCity.$error.required">
                        Enter your city
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  ng-class="{'error': form.cardbillingZipCode.$error.required && (form.cardbillingZipCode.$touched || form.$submitted)}"
                  class="form-group form-horizontal required w_30_70"
                >
                  <label for="cardbillingZipCode">Zip Code</label>
                  <div class="input-field">
                    <input
                      ng-model="card.billing.zipcode"
                      type="text"
                      id="cardbillingZipCode"
                      name="cardbillingZipCode"
                      class="form-control"
                      ng-required="checkCardAsShipping()"
                    />
                    <div
                      class="error-text"
                      ng-show="form.$submitted || form.cardbillingZipCode.$touched"
                    >
                      <div ng-show="form.cardbillingZipCode.$error.required">
                        Enter zipcode
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  ng-class="{'error': form.cardbillingCountry.$error.required && (form.cardbillingCountry.$touched || form.$submitted)}"
                  class="form-group form-horizontal required w_30_70"
                >
                  <label for="cardbillingCountry">Country</label>
                  <div class="input-field">
                    <select
                      id="cardbillingCountry"
                      ng-model="card.billing.country"
                      name="cardbillingCountry"
                      ng-required="checkCardAsShipping()"
                      ng-change="getStatesCardBilling(card.billing)"
                    >
                      <option
                        ng-repeat="option in countries"
                        ng-value="option.country_id"
                        >{{option.country_name}}</option
                      >
                    </select>

                    <div
                      class="error-text"
                      ng-show="form.$submitted || form.billingCountry.$touched"
                    >
                      <div ng-show="form.cardbillingCountry.$error.required">
                        Select country
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  ng-class="{'error': form.cardbillingState.$error.required && (form.cardbillingState.$touched || form.$submitted)}"
                  class="form-group form-horizontal required w_30_70"
                >
                  <label for="cardbillingState">State</label>
                  <div class="input-field">
                    <select
                      id="cardbillingState"
                      ng-model="card.billing.state"
                      name="cardbillingState"
                      ng-required="checkCardAsShipping()"
                    >
                      <option
                        ng-repeat="option in card.billing.states"
                        ng-value="option.state_id"
                        >{{option.state_name}}</option
                      >
                    </select>
                    <div
                      class="error-text"
                      ng-show="form.$submitted || form.cardbillingState.$touched"
                    >
                      <div ng-show="form.cardbillingState.$error.required">
                        Select state
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="line"></div>
              <div class="action">
                <button ng-show="newCard" ng-click="addCardToLIst(form)" type="button">
                  ADD
                </button>
                <button ng-show="editCard" ng-click="editCardToLIst(card)" type="button">
                  EDIT
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
      </div>

      <hr>

      <div class="rows">
        <div class="first">

        </div>
        <div class="second">
          <div class="checkbox rules">
            <input
              type="checkbox"
              name="acceptRules"
              ng-model="accept.rules"
              id="acceptRules"
            />
            <label for="acceptRules"></label>
            <label
              for="acceptRules"
              class="checkbox-text"
            >
              I have read and accept <a>Terms & Conditions</a>  and <a>Privacy Policy</a>
            </label>
          </div>
          <div class="checkbox ">
            <input
              type="checkbox"
              name="acceptAge"
              ng-model="accept.age"
              id="acceptAge"
            />
            <label for="acceptAge"></label>
            <label
              for="acceptAge"
              class="checkbox-text"
            >
              I am 21 or older
            </label>
          </div>
        </div>
      </div>


      <div class="action-submit">
        <button ng-class="{'disable': ((!accept.age || !accept.rules) || form.$invalid)}" type="submit" ng-click="sendRequest(form)">Register</button>
      </div>

    </form>
  </div>
</div>
<div class="register-complete" ng-if="regStatus === 'finish'">
  <h4>Registration complete</h4>
</div>
