html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: @container-max-width;
  margin: 0 auto;
  padding: 0;
  padding-left: @container-padding;
  padding-right: @container-padding;
}

@media (max-width: 1400px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1350px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1300px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 1200px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}


a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input {
  outline: none;
  color: black;
}