.form-block {
  padding-bottom: 30px;
  h4 {
    color: @light-red;
    border-bottom: 2px solid @light-grey;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.form-group {
  .flex-block();
  .align-items(center);
  .justify-content(flex-start);

  label {
    width: 100%;
  }

  .input-field {
    width: 100%;
    position: relative;
  }

  input {
    width: 100%;
  }

  &.form-horizontal {
    label {
      width: 40%;
    }

    .input-field {
      width: 60%;
      padding-left: 10px;
    }

    &.w_30_70 {
      label {
        width: 30%;
      }

      .input-field {
        width: 70%;
      }
    }
  }



  padding-top: 10px;
  padding-bottom: 10px;
  label {
    font-size: 14px;
    font-weight: 500;
    &:after {
      content: ":";
    }
  }
  input {
    color: @black;
    height: 36px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid @light-grey;

    .transition(all 0.3s ease-in-out);

    &:focus {
      background-color: rgba(0, 255, 39, 0.05);
    }
  }

  select {
    color: @black;
    height: 36px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: @white;
    border: 1px solid @light-grey;
    width: 100%;
    outline: none;
  }

  &.required {
    label {
      &:after {
        content: "*:";
        color: @light-red;
      }
    }
  }

  &.error {
    input {
      background-color: rgba(255, 0, 88, 0.05);
    }
  }



  .error-text {
    pointer-events: none;
    position: absolute;
    bottom: 3px;
    right: 3px;
    color: red;
    font-size: 12px;
  }
}


.checkbox{
  margin: 10px 20px;

  input[type=checkbox] {
    display:none;
  }

  input[type=checkbox] + label{
    //border: 2px solid @white;
    outline: 2px solid @light-grey;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0;
    cursor: pointer;
  }

  input[type=checkbox]:checked + label{
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAlElEQVQ4T6WTXQ2AMAwGDwdIQAISQAEWsIQCQAkWkIAEJJCSNCljP7Dtdblb26+rKDxVIU+uoAY2YMoRKNwC61/BAwbGP4IXLPP7KvDCVtAARyCRIKyCBRiAHtgdSRRWwQjMwOlIkrBtwZVIO5LzHZVMO7RwdohWIoIk7EtBJXIXfVkr8sUoki5Wtm3n6x4E/1yx4AI+qiERKNFzCwAAAABJRU5ErkJggg==") #FFFFFF;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0;
  }

  .checkbox-text{
    position: relative;
    font-family: Arial;
    font-size: 14px;
    padding: 0 6px;
    top: -4px;
    cursor: pointer;
  }
}

.radio{
  margin: 10px 20px;

  input[type=radio] {
    display:none;
  }

  input[type=radio] + label{
    border: 2px solid #000000;
    /* outline: 2px solid #000000; */
    height: 18px;
    width: 18px;
    display:inline-block;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
  }

  input[type=radio]:checked + label{
    background:#000000;
    height: 14px;
    width: 14px;
    display:inline-block;
    padding: 2px;
    box-shadow: inset 0 0 0 4px #FFFFFF;
  }

  .radio-text{
    position: relative;
    font-family: Arial;
    font-size: 14px;
    padding: 0 6px;
    top: -5px;
    cursor: pointer;
  }
}