
/**
Fonts
 */

@core : '..';

@font-light : '@{core}/fonts/sf-pro-display-light.otf';
@font-regular : '@{core}/fonts/sf-pro-display-regular.otf';
@font-medium : '@{core}/fonts/sf-pro-display-medium.otf';
@font-bold : '@{core}/fonts/sf-pro-display-bold.otf';
@font-black : '@{core}/fonts/sf-pro-display-black.otf';

@font-family: "SF-Pro-Display", "sans-serif";

@email-font: "Arial";



/**
Container
 */
@container-padding: 100px;
@container-max-width: 1440px;


/**
Colors
 */

@grey: #4A4A4A;

@light-grey: #EAEAEA;
@dark-grey: #B1B1B1;
@light-red: #D01C37;
@white: #FFFFFF;
@black: #000000;